.min-sec-7{
    padding-top: 0;
    padding-bottom: 0;
}
.min-blog{
    padding-top: -120px;
    margin-top: -140px;
}
@media (mx-width:600px) {
    .min-blog{
       
        margin-top: 50px;
    }
}